
body, input, button, select, textarea {
    color: #333;
    font: 10pt/1.75 Arial,Helvetica,sans-serif;
}
body, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, pre {
    margin: 0;
    padding: 0;
}
ul {
    list-style: outside none none;
}
em {
    font-style: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0 none;
}
input, button, select, textarea {
    outline: 0 none;
}
textarea {
    resize: none;
}
a {
    color: #366;
    outline: 0 none;
    text-decoration: none;
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {
}
.slot {
    clear: both;
    display: block;
}
.slot a {
    color: #32a9ba;
    cursor: pointer;
    font-size: 10pt;
    font-weight: normal;
}
#main, #content, #header .nav, #header .top {
    margin: 0 auto;
}
#header, #footer {
    font: 10pt/1.75 Arial,Helvetica,sans-serif;
}
#footer a:hover {
    background-color: #32a8ba;
    color: white;
}
#footer, #content, .content {
    overflow: hidden;
}
#header .top {
}
#header, a.morehover, #header .links .plate a, #header .search_nav a.cur, #main .search_nav a.cur, #header .search_nav b, #main .search_nav b {
    background-image: url("http://cdn.dfile.cn/i1/img/header.png");
}
#header {
    background-position: center -390px;
    background-repeat: repeat-x;
    min-width: 1000px;
}
#header .nav {
    height: 40px;
    line-height: 40px;
}
#header .nav a {
    padding: 0 0.75em;
    text-decoration: none;
}
#header .links, #header .login {
    display: inline-block;
}
#main, #header .nav, #header .top, #content {
    width: 1200px;
}
#footer {
    width: 1000px;
}
#main .search, .ad_banner {
    padding: 0 230px;
}
.idxrc, #main .daily_sentence {
    padding: 0 235px;
}
#main .search_input {
    width: 620px;
}
#juhai-title {
    width: 880px;
}
#main .search .forAndroid {
    right: 110px;
}
#header .search {
    width: 760px;
}
#header .search_input {
    width: 642px;
}
.w1200 #main, .w1200 #footer, .w1200 #header .nav, .w1200 #header .top, .w1200 #content {
    width: 1200px;
}
.w1200 #main .search, .w1200 .ad_banner {
    padding: 0 230px;
}
.w1200 .idxrc, .w1200 #main .daily_sentence {
    padding: 0 235px;
}
.w1200 #main .search_input {
    width: 620px;
}
.w1200 #juhai-title {
    width: 880px;
}
.w1200 #main .search .forAndroid {
    right: 110px;
}
.w1200 #header .search {
    width: 760px;
}
.w1200 #header .search_input {
    width: 642px;
}
.w1000 #main, .w1000 #footer, .w1000 #header .nav, .w1000 #header .top, .w1000 #content {
    width: 1000px;
}
.w1000 #main .search, .w1000 .ad_banner {
    padding: 0 190px;
}
.w1000 .idxrc, .w1000 #main .daily_sentence {
    padding: 0 195px;
}
.w1000 #main .search_input {
    width: 500px;
}
.w1000 #juhai-title {
    width: 680px;
}
.w1000 #main .search .forAndroid {
    right: 70px;
}
.w1000 #header .search {
    width: 560px;
}
.w1000 #header .search_input {
    width: 442px;
}
#header .links {
    float: left;
    width: 66%;
}
#header .links a {
    color: #ebf8fa;
    float: left;
    font-size: 10.5pt;
    font-weight: bold;
}
#header .links a:hover {
    background-color: #32a8ba;
}
#header .links a.cur {
    border-bottom: 2px solid #ffa303;
    height: 38px;
    overflow: hidden;
}
#header .more {
    float: left;
    position: relative;
    z-index: 100;
}
#header .links .plate, #header .links .chain {
    padding: 2px;
}
#header .links .plate a {
    text-indent: 26px;
}
#header .links .plate a.wkt {
    background-position: left -312px;
}
#header .links .plate a.en {
    background-position: left -282px;
}
#header .links .plate a.scb {
    background-position: left -222px;
}
#header .links .plate a.bdc {
    background-position: left -252px;
}
#header .links .chain a {
    text-indent: 6px;
}
#header .morelinks {
    left: 0;
    width: 172px;
}
#header .morelinks li {
    width: 84px;
}
#header .login {
    float: right;
    width: 33%;
}
#header .login a, #header .login em, #header .login i {
    color: #ebf8fa;
    cursor: pointer;
    float: right;
}
#header .login a:hover {
    background-color: transparent;
}
#header .login em {
    padding: 0 0.75em;
}
#header .login i {
    font-style: normal;
    vertical-align: top;
}
#header .login .more {
    float: right;
}
#header .login .morehover {
    text-align: right;
    width: 80px;
}
#header .login .hover {
    text-align: left;
}
#header .personinfo {
    overflow: hidden;
    right: 0;
    width: 114px;
}
#header .personinfo li a {
    text-indent: 0.75em;
}
#header .more a.morehover {
    background-position: right -89px;
    border-left: 1px solid #2fb8cb;
    border-right: 1px solid #2fb8cb;
    border-top: 1px solid #2fb8cb;
    height: 30px;
    line-height: 28px;
    margin: 5px 0 4px;
    padding-right: 24px;
}
#header .more a.hover {
    background-color: #f4fafc;
    background-position: right -129px;
    border-left: 1px solid #82d2dc;
    border-right: 1px solid #82d2dc;
    border-top: 1px solid #82d2dc;
    color: #239aab;
    height: 34px;
    margin-bottom: 0;
}
#header .more a.hover:hover {
    background-color: #f4fafc;
}
#header .more a.morehover span {
    display: block;
    height: 30px;
    overflow: hidden;
    width: 6em;
}
#header .morelinks, #header .personinfo {
    background-color: #fcfcfc;
    border-bottom: 1px solid #82d2dc;
    border-left: 1px solid #82d2dc;
    border-right: 1px solid #82d2dc;
    display: none;
    position: absolute;
    top: 40px;
}
#header .morelinks a, #header .personinfo a {
    color: #329eb2;
    font-size: 10pt;
    font-weight: normal;
    line-height: 30px;
    padding: 0;
    text-align: left;
}
#header .morelinks a:hover, #header .personinfo a:hover {
    background-color: #e2ecec;
    color: #3a6c6c;
}
#header .morelinks ul, #header .personinfo ul {
    border-bottom: 1px solid #e6eef0;
}
#header .morelinks ul, #header .morelinks li, #header .personinfo ul, #header .personinfo li {
    overflow: hidden;
}
#header .morelinks a, #header .personinfo li, #header .personinfo a {
    width: 100%;
}
#header .morelinks li, #header .personinfo li {
    float: left;
    height: 30px;
}
#header .mobile {
    float: left;
    height: 28px;
    margin-top: 11px;
    width: 176px;
}
#header .mobile a {
    background: rgba(0, 0, 0, 0) url("http://cdn.dfile.cn/i1/images/iandroid.png") no-repeat scroll 0 top;
    color: #366;
    font-size: 10pt;
    font-weight: normal;
    height: 28px;
    line-height: 22px;
    padding: 0 2px 0 0;
    text-align: right;
    width: 174px;
}
#header .mobile a:hover {
    background-position: 0 bottom;
}
#header .logo, #header .search, #header .spread {
    float: left;
}
#header .logo {
    display: block;
    height: 80px;
    padding-top: 30px;
    width: 260px;
}
#header .spread {
    height: 48px;
    margin-top: 56px;
    width: 200px;
}
#header .search_nav {
    overflow: hidden;
}
#header .search_nav a, #header .search_nav em {
    display: block;
    float: left;
    font-size: 10.5pt;
    line-height: 40px;
    padding: 0 0.5em;
}
#header .search_nav b {
    background-position: center -52px;
    font-weight: normal;
}
#header .search_nav a {
    color: #366;
}
#header .search_nav a:hover {
    color: #32a8ba;
}
#header .search_nav a.cur {
    background-position: center 35px;
    background-repeat: no-repeat;
    font-weight: bold;
}
#header .search_nav a.cur b {
    font-weight: bold;
}
#header .search_nav em {
    color: #147888;
}
#header .search_box {
    overflow: hidden;
}
#header .search_input, #header .search_submit {
    float: left;
}
#header .search_input {
    border: 4px solid #2dacbf;
    color: #444;
    font-size: 13.5pt;
    height: 28px;
    line-height: 28px;
    padding: 6px 5px;
}
#header .search_submit {
    background: rgba(0, 0, 0, 0) url("http://cdn.dfile.cn/i1/img/header.png") no-repeat scroll 0 -342px;
    border: 0 none;
    cursor: pointer;
    height: 48px;
    margin-left: 10px;
    width: 90px;
}
#header .search_submit:hover {
    background: rgba(0, 0, 0, 0) url("http://cdn.dfile.cn/i1/img/header.png") no-repeat scroll -90px -342px;
}
#footer {
    border-top: 1px solid #efefef;
    padding: 1.5em 0;
    text-align: center;
}
#footer a {
    padding: 0 0.25em;
}
#footer a.sgs:hover {
    background-color: transparent;
}
#content {
    padding: 20px 0;
}
#main .logo {
    display: block;
    margin: 30px auto 0;
    padding: 0 72.5px;
    width: 475px;
}
#main .logo h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 475px;
}
#main .search {
    position: relative;
}
#main .spread {
    height: 48px;
    margin-top: 56px;
    width: 200px;
}
#main .top {
    height: 130px;
}
#main .search_nav {
    overflow: hidden;
}
#main .search_nav a, #main .search_nav em {
    display: block;
    float: left;
    font-size: 10.5pt;
    line-height: 40px;
    padding: 0 0.5em;
}
#main .search_nav b {
    background-position: center -52px;
    font-weight: normal;
}
#main .search_nav a {
    color: #366;
}
#main .search_nav a:hover {
    color: #32a8ba;
}
#main .search_nav a.cur {
    background-position: center 35px;
    background-repeat: no-repeat;
    font-weight: bold;
}
#main .search_nav a.cur b {
    font-weight: bold;
}
#main .search_nav em {
    color: #147888;
}
#main .search_box {
    overflow: hidden;
}
#main .search_input {
    border: 4px solid #2dacbf;
    color: #444;
    float: left;
    font-size: 13.5pt;
    height: 28px;
    line-height: 28px;
    padding: 6px;
}
#main .search_submit {
    background: rgba(0, 0, 0, 0) url("http://cdn.dfile.cn/i1/img/header.png") no-repeat scroll 0 -342px;
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 48px;
    width: 90px;
}
#main .search_submit:hover {
    background: rgba(0, 0, 0, 0) url("http://cdn.dfile.cn/i1/img/header.png") no-repeat scroll -90px -342px;
}
#main .search .forAndroid {
    bottom: 0;
    position: absolute;
    top: 40px;
}
#main .search_nav .slot {
    float: right;
}
#main .search_nav .slot a {
    color: #32a9ba;
    font-size: 10pt;
    padding: 0;
}
.spread .slot {
    margin-left: 8px;
    width: 188px;
}
.spread .slot a {
    background-image: none;
}
#footer {
    position: relative;
}
#footer #foot-qmark {
    position: absolute;
    right: 0;
    top: -1px;
    width: 190px;
}
#foot-qmark .foot-qmark-explain, #foot-qmark .foot-qmark-img {
    float: right;
}
#foot-qmark .foot-qmark-img a {
    margin: 0;
    padding: 0;
}
#foot-qmark .foot-qmark-img img {
    border: 1px solid #efefef;
    height: 79px;
    width: 79px;
}
#foot-qmark .foot-qmark-explain {
    padding-right: 2px;
    padding-top: 20px;
}
#foot-qmark .foot-qmark-explain p {
    text-align: right;
}
#foot-qmark .foot-qmark-explain p.ft-qr-p2 {
    height: 29px;
    line-height: 29px;
}
#foot-qmark .foot-qmark-explain a {
    color: #32a9ba;
    text-decoration: none;
}
#foot-qmark .foot-qmark-img a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
}
#foot-qmark .foot-qmark-explain a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    text-decoration: underline;
}
#header .logo {
    padding-top: 38px;
    text-align: left;
    width: 240px;
}
#header .spread {
    margin-top: 51px;
}
#header .search_nav {
    height: 44px;
}
#header .search_nav a, #header .search_nav em {
    height: 44px;
    line-height: 44px;
    padding-left: 8px;
    padding-right: 8px;
}
#header .search_nav a.cur {
    background-position: -80px 39px;
}
#header .top {
    height: 130px;
    padding-top: 6px;
}
.adv .right-google-ads .ad-title a {
    color: #32a9c9;
    text-decoration: none;
}
.adv .right-google-ads .ad-title a:hover {
    text-decoration: underline;
}
.search_nav .searchnav-morehide {
    display: none;
}
.searchnav-morea {
    background-image: url("/v/1408420472/i1/images/nav_icon_01.png");
    background-position: 37px -8px;
    background-repeat: no-repeat;
    width: 30px;
}
.searchnav-moreabg {
    background-position: 37px -6px;
}
#header .search_nav a.cur {
    background-position: -67px 39px;
}
#header .search_nav b {
    cursor: pointer;
}
#main .daily_sentence {
    color: #366;
    margin-top: 20px;
}
#header .logo {
    width: 230px;
}
#header .search {
    height: 92px;
    padding-top: 7px;
    position: relative;
}
#header .search_nav a, #header .search_nav em {
    padding-left: 7px;
    padding-right: 7px;
}
.searchnav-morea {
    background-position: 35px -8px;
}
#header .searchnav-morea {
    background-position: 35px -6px;
}
#header .search_nav a.cur {
    background-position: center 39px;
}
.sbox_more_wrap {
    display: inline;
    position: relative;
}
.sbox_more {
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 70px;
    left: 0;
    position: absolute;
    top: -10px;
    width: 206px;
}
.sbox_marrow {
    background: rgba(0, 0, 0, 0) url("/v/1408420484/i1/js/ddialog/skins/default/corner.gif") no-repeat scroll 0 -10px;
    height: 10px;
    left: 182px;
    position: relative;
    top: 1px;
    width: 19px;
}
.sbox_mlangs {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 60px;
    padding: 4px 4px 15px;
    width: 206px;
}
.sbox_more b {
    background-image: url("/v/1408420483/i1/img/header.png");
    background-position: center -52px;
    font-size: 10.5pt;
    font-weight: normal;
}
.sbox_more a {
    color: #366;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-top: 8px;
    text-align: center;
    width: 66px;
}
.sbox_more a:hover {
    background: #e2ecec none repeat scroll 0 0;
}
@-moz-document url-prefix("") {
    .sbox_more {
        top: 4px;
    }
}
.idxrc {
    color: #898989;
    margin-top: 20px;
}
.idxrc a {
    color: #898989;
}
.idxrc a {
    padding: 0 7px;
}
.search-right-ad5 {
    background: rgba(0, 0, 0, 0) url("/v/1408420472/i1/images/dict_right_ad300v85_bg01.png") no-repeat scroll center center;
    padding-left: 50px;
}
#tjcd {
    margin-top: 20px;
    padding: 0 230px;
}
#tjcd dl {
    border: 1px solid #ace3ea;
}
#tjcd dl dt {
    background: #ace3ea none repeat scroll 0 0;
    color: #04536a;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
}
#tjcd dl dt .tjmore {
    float: right;
}
#tjcd dl dd {
    padding: 10px;
}
#tjcd dl dd li {
    float: left;
    position: relative;
    text-align: center;
    width: 20%;
}
#tjcd dl dd li span {
    display: block;
    position: absolute;
    right: 29px;
    top: 6px;
}
#idxRightBan {
    position: relative;
}
.idxRightBanc {
    position: absolute;
    right: 10px;
    top: 0;
}
.idxRightBanClose {
    position: absolute;
    right: 130px;
    top: 0;
}
.idxRightBanClose a {
    border: 1px solid #eee;
    color: #999;
    font-size: 14px;
    padding: 0 3px;
}
